<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Botan 1.0.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2AA032461E5489FD00AD7067</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AA0325F1E5489FD00AD7067</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AA0326A1E5489FD00AD7067</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
